.movie{
    padding: 5em;
    color:rgb(237, 237, 241); 
    font-size: 14px;
    line-height: 25px;
}
.card-img-top{
    margin: 20px 0;
}

.movie__info{
    background-color: rgba(19, 19, 20, 0.549);
    padding:10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-bottom:20px;
}
.movie_summary{
    width:80%;
}

  